* {
  padding: 0;
  margin: 0;
  font-family: Kumbh Sans;
  color: hsl(238, 29%, 16%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: hsl(240, 73%, 65%);
}

.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px 60px 80px 0px;
  width: 900px;
  gap: 80px;
  border-radius: 24px;
}

.woman-back {
  width: 400px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

hr {
  color: hsl(240, 5%, 91%);
}

.question-container {
  margin: 20px 0px;
  width: 420px;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.questions:hover {
  color: hsl(14, 88%, 65%);
}

.plus {
  color: hsl(14, 88%, 65%);
  font-size: 22px;
}

.answer {
  color: hsl(240, 6%, 50%);
  font-size: 14px;
  display: none;
}